Value INTF (\S+\d+/?(\d+)?)
Value ADDR (\d+\.\d+\.\d+\.\d+)
Value STATUS (up|down|administratively down)
Value PROTO (up|down)

Start
  ^${INTF}\s+${ADDR}\s+\w+\s+\w+\s+${STATUS}\s+${PROTO} -> Record